*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.upper{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

.section{
    margin: 50px 0;
}

.card{
    margin: 20px;
}